@import url(https://fonts.googleapis.com/css?family=Chewy);

body {
    background: url(../img/bg.jpg);
    font-family: 'Chewy', cursive;
    font-size: 18px;
    line-height: 2.0;
}

/* Bootstrap override
------------------------------*/
.list-group-item {
    border: 0;
}
.modal-content {
    border-radius: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #191d69;
    border-color: #191d69;
}

.owl-buttons {
    margin-bottom: 20px;
}



#prg-carousel,
#moto-carousel {
  display: none;
}
.owl-carousel .item img {
    display: block;
    width: auto;
    height: auto;
    max-height: 400px;
}
#moto-imgs .item img {
    display: block;
    width: 100%;
    height: auto;
}