@import url(https://fonts.googleapis.com/css?family=Chewy);

body {
    background: url(../img/bg.jpg);
    font-family: 'Chewy', cursive;
    font-size: 18px;
    line-height: 2.0;
}

/* Bootstrap override
------------------------------*/
.list-group-item {
    border: 0;
}



#prg-carousel,
#moto-carousel {
  display: none;
}
.owl-carousel .item img {
    display: block;
    width: auto;
    height: auto;
    max-height: 400px;
}
#moto-imgs .item img {
    display: block;
    width: 100%;
    height: auto;
}